defaults: &defaults
  image:
    repository: docker.io/openebs/rawfile-localpv
    tag: 0.3.0
    pullPolicy: Always
  resources:
    limits:
      cpu: 100m
      memory: 100Mi
    requests:
      cpu: 10m
      memory: 100Mi

controller:
  << : *defaults

node:
  << : *defaults
  metrics:
    enabled: false

imagePullSecrets: []
serviceMonitor:
  enabled: true
  interval: 15s
